@{
    ViewBag.Title = "聯絡方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    台北市松山區<br />
    八德路三段2號8樓<br />
    <abbr title="Phone">P:</abbr>
    02-2578-0908
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:stanley@cowell.com.tw">stanley@cowell.com.tw</a><br />
    
</address>